/* Grundlayout */
body {
  font-family: 'Roboto', sans-serif; /* Schöne Schriftart */
  margin: 0;
  padding: 0;
  background: url('assets/universe_background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  color: #333;
}

#container {
  text-align: center;
  position: relative;
  width: 100%;
}

/* Einstein */
#einstein-container {
  position: relative;
  margin-top: 400px; /* Abstand von oben */
}

#einstein {
  width: 550px; /* Größeres GIF */
}

/* Sprechblase */
#speechBubble-container {
  position: relative;
  margin: 0 auto;
  margin-top: 30px; /* Fixiert weiter oben */
  width: 400px; /* Größere Sprechblase */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#speechBubble {
  width: 100%;
  z-index: 1;
}

#speechText {
  font-size: 1.2rem; /* Größere Schrift */
  line-height: 1.5;
  color: #333;
  padding: 5px;
  text-align: center;
  z-index: 2;
  position: absolute;
  max-width: 90%; /* Sicherheitsabstand */
  max-height: 90%;
  overflow: hidden; /* Kein Überlauf */
  box-sizing: border-box;
}

/* Button */
#tellMeButton {
  background-color: #f9d342;
  color: #222;
  border: none;
  border-radius: 15px;
  padding: 12px 25px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: 10px;
}

#tellMeButton:hover {
  transform: scale(1.1);
}

/* Sprachumschalter */
#languageSelector {
  margin-top: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
  
  @media (max-width: 600px) {
    #einstein {
      width: 200px; /* Verkleinere Einstein */
    }
  
    #speechBubble-container {
      top: -120px; /* Weniger Abstand auf kleineren Bildschirmen */
      width: 250px; /* Kleinere Sprechblase */
    }
  
    #speechText {
      font-size: 0.9rem; /* Kleinere Schrift */
    }
  }
  
